/* 
    Created on : 05 7, 18, 4:31:46 PM
    Author     : franciellajoan
*/
@font-face {
  font-family: ns;
  src: url(../fonts/ns.ttf); }
@font-face {
  font-family: helvlight;
  src: url(../fonts/helvlight.ttf); }
@font-face {
  font-family: os;
  src: url(../fonts/os.otf); }
@font-face {
  font-family: djf;
  src: url(../fonts/djf.ttf); }
* {
  padding: 0;
  margin: 0; }

body {
  background-image: url("../img/nums.png");
  background-color: #fafdfe; }
  body #banner {
    margin: auto;
    width: 1024px;
    text-align: center;
    height: 150px;
    margin-top: 15px;
    font: 50px djf; }
    body #banner img {
      width: 35%;
      height: auto;
      float: left; }
    body #banner h1 {
      font-size: 45px;
      text-align: left;
      letter-spacing: 1px;
      padding-top: 15px;
      text-transform: uppercase; }
  body #chapters {
    margin: auto;
    width: 1024px;
    text-align: center;
    height: 400px; }
    body #chapters #cp, body #chapters #gd {
      position: relative; }
      body #chapters #cp h3, body #chapters #gd h3 {
        position: absolute;
        bottom: 0;
        font: 35px os;
        color: white;
        text-shadow: 2px 2px 4px #000000;
        letter-spacing: 2.5px;
        z-index: 2; }
    body #chapters #cp {
      width: 472px;
      margin: 20px;
      height: 310px;
      background-image: url("../img/one.jpg");
      background-size: cover;
      transition: box-shadow .5s, transform .5s;
      float: left; }
      body #chapters #cp #o1 {
        left: 100%;
        background-color: rgba(5, 199, 199, 0.5);
        color: white;
        right: 0;
        position: absolute;
        bottom: 0;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease; }
        body #chapters #cp #o1 .texttt {
          margin: 20px 10px;
          font: 19px helvlight;
          text-align: left;
          text-shadow: 2px 2px 4px #000000; }
      body #chapters #cp h3 {
        left: 10px; }
    body #chapters #gd {
      width: 472px;
      margin: 20px;
      height: 310px;
      background-image: url("../img/two.jpg");
      background-size: cover;
      transition: box-shadow .5s, transform .5s;
      float: right; }
      body #chapters #gd #o2 {
        left: 0;
        background-color: rgba(255, 198, 128, 0.5);
        color: white;
        right: 0;
        position: absolute;
        bottom: 0;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease; }
        body #chapters #gd #o2 .texttt {
          margin: 20px 10px;
          font: 19px helvlight;
          text-align: left;
          text-shadow: 2px 2px 4px #000000; }
      body #chapters #gd h3 {
        right: 10px; }
    body #chapters #cp:hover, body #chapters #gd:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.55), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
      transform: scale(1.05); }
      body #chapters #cp:hover #o1, body #chapters #gd:hover #o1 {
        left: 0;
        width: 100%; }
      body #chapters #cp:hover #o2, body #chapters #gd:hover #o2 {
        width: 100%; }
  body #imp {
    margin: auto;
    width: 1024px;
    text-align: center;
    height: 401px; }
    body #imp #members {
      margin: auto;
      width: 1024px;
      text-align: center;
      display: flex;
      height: 361px; }
      body #imp #members .mem {
        width: 341px;
        height: 341px;
        display: flex;
        flex-wrap: wrap; }
        body #imp #members .mem .m1, body #imp #members .mem .m2 {
          position: relative; }
          body #imp #members .mem .m1 .overlay, body #imp #members .mem .m2 .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease; }
            body #imp #members .mem .m1 .overlay .text, body #imp #members .mem .m2 .overlay .text {
              color: white;
              font-size: 20px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              text-align: center; }
              body #imp #members .mem .m1 .overlay .text .name, body #imp #members .mem .m2 .overlay .text .name {
                font: 25px os;
                text-shadow: 2px 2px 4px #000000; }
              body #imp #members .mem .m1 .overlay .text .pos, body #imp #members .mem .m2 .overlay .text .pos {
                font: 20px helvlight; }
              body #imp #members .mem .m1 .overlay .text .chap, body #imp #members .mem .m2 .overlay .text .chap {
                font: 12px helvlight; }
        body #imp #members .mem .m1 {
          background-color: rgba(5, 199, 199, 0.5);
          background-size: cover;
          background-blend-mode: multiply;
          border-radius: 2.5px;
          width: 155.5px;
          height: 155.5px;
          margin: 7.5px;
          display: inline-block; }
          body #imp #members .mem .m1 .overlay {
            background-color: #05c7c7; }
        body #imp #members .mem .m2 {
          background-color: rgba(255, 198, 128, 0.5);
          background-size: cover;
          background-blend-mode: multiply;
          border-radius: 2.5px;
          width: 155.5px;
          height: 155.5px;
          margin: 7.5px;
          display: inline-block; }
          body #imp #members .mem .m2 .overlay {
            background-color: #ffc680; }
        body #imp #members .mem .m1:hover .overlay, body #imp #members .mem .m2:hover .overlay {
          opacity: 1; }
        body #imp #members .mem #adv {
          background-size: cover;
          border-radius: 2.5px;
          width: 291px;
          height: 291px;
          margin: 25px;
          position: relative; }
          body #imp #members .mem #adv .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: #003E57; }
            body #imp #members .mem #adv .overlay .text {
              color: white;
              font-size: 20px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              text-align: center; }
              body #imp #members .mem #adv .overlay .text #n {
                font: 30px os;
                text-shadow: 2px 2px 4px #000000; }
              body #imp #members .mem #adv .overlay .text #p {
                font: 20px helvlight; }
        body #imp #members .mem #adv:hover .overlay {
          opacity: 1; }
  body #club {
    width: 1024px;
    margin: 20px auto;
    height: 850px; }
    body #club .about {
      width: 100%;
      height: 233.3333333333px;
      margin: 30px 0px; }
      body #club .about .imgur {
        width: 37.5%;
        height: 100%;
        background-color: rgba(214, 96, 0, 0.25);
        border-radius: 25px;
        background-blend-mode: multiply;
        background-size: cover;
        display: inline-block; }
      body #club .about #odd1 {
        float: right; }
      body #club .about #odd2 {
        float: left; }
      body #club .about .txt {
        width: 62.5%;
        height: 100%;
        margin: auto;
        float: right;
        font: 20px helvlight;
        line-height: 110%;
        text-align: justify;
        display: inline-block; }
        body #club .about .txt h1 {
          text-align: center;
          margin-top: 5px;
          text-transform: uppercase;
          font: 40px os; }
        body #club .about .txt p {
          padding: 5px 15px; }
  body .hb {
    width: 100%;
    background-color: #003E57;
    color: white;
    height: 50px;
    text-align: center;
    font: 45px ns;
    text-transform: uppercase;
    letter-spacing: 5px; }
  body footer {
    margin: auto;
    width: 1024px;
    text-align: center;
    height: 25px;
    text-align: center;
    letter-spacing: 5px;
    font: 16px helvlight; }

/*# sourceMappingURL=mainCSS.css.map */
