/* 
    Created on : 05 7, 18, 4:31:46 PM
    Author     : franciellajoan
*/
//RULES
@font-face{
    font-family: ns;
    src: url(../fonts/ns.ttf);
}
@font-face{
    font-family: helvlight;
    src: url(../fonts/helvlight.ttf);
}
@font-face{
    font-family: os;
    src: url(../fonts/os.otf);
}
@font-face{
    font-family: djf;
    src: url(../fonts/djf.ttf);
}

//VARIABLES
$hFont: 50px djf;
$size: 700px;

//CONSTRUCTORS
@mixin def_size(){
    margin: auto;
    width: 1024px;
    text-align: center;
}
@mixin mdef(){
    width: 1024px;
    margin: 20px auto;
    height: 850px;
}
@mixin subs(){
    width: 100%;
    height: $size / 3;
    margin: 30px 0px;
}
@mixin im(){
    width: 37.5%;
    height: 100%;
    background-color: hsla(27, 100%, 42%, 0.25);
    border-radius: 25px;
    background-blend-mode: multiply;
    background-size: cover;
}
@mixin texto(){
    width: 62.5%;
    height: 100%;
    margin: auto;
    //background-color: khaki;
    float: right;
    font: 20px helvlight;
    line-height: 110%;
    text-align: justify;
}
@mixin bgblend($div){
    width: 472px;
    margin: 20px;
    height: 310px;
    @if $div == cp{
        background-image: url("../img/one.jpg");
    }
    @else{
        background-image: url("../img/two.jpg");
    }
    background-size: cover;
    transition: box-shadow .5s, transform .5s;
}
@mixin mems(){
    width: 341px;
    height: 341px;
    display: flex;
    flex-wrap: wrap;
}
@mixin bans(){
    width: 100%;
    background-color: #003E57;
    color: white;
    height: 50px;
    text-align: center;
    font: 45px ns;
    text-transform: uppercase;
    letter-spacing: 5px;
}
@mixin fil($chap){
    @if $chap == cp{background-color: hsla(180, 95%, 40%, 0.5);}
    @else {background-color: hsla(33, 100%, 75%, 0.5)}
    background-size: cover;
    background-blend-mode: multiply;
    border-radius: 2.5px;
    width: 155.5px;
    height: 155.5px;
    margin: 7.5px;
    display: inline-block;
}
@mixin overlay($dir){
    @if $dir == cp {
        left: 100%;
        background-color: hsla(180, 95%, 40%, 0.5);
    }
    @else {
        left: 0;
        background-color:  hsla(33, 100%, 75%, 0.5);
    }
    color: white;
    right: 0;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
@mixin afterhover($f){
    @if $f == cp {left: 0;}
    width: 100%;
}
@mixin first(){
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
@mixin second(){
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
@mixin infos(){
    margin: 20px 10px;
    font: 19px helvlight;
    text-align: left;
    text-shadow: 2px 2px 4px #000000;
}

//MAIN CSS
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('../img/nums.png');
    background-color: #fafdfe;
    //filter: alpha(opacity=50);
    //z-index: -10;
    
    #banner{
        @include def_size;
        height: 150px;
        margin-top: 15px;
        font: $hFont;
        img{
            width: 35%;
            height: auto;
            float: left;
        }
        h1{
            font-size: 45px;
            text-align: left;
            letter-spacing: 1px;
            padding-top: 15px;
            text-transform: uppercase;
        }
    }
    #chapters{
        @include def_size;
        height: 400px;
        #cp, #gd{
            position: relative;
            h3{
                position: absolute;
                bottom: 0;
                font: 35px os;
                color: white;
                text-shadow: 2px 2px 4px #000000;
                letter-spacing: 2.5px;
                z-index: 2;
            }
        }
        #cp{
            @include bgblend(cp);
            float: left;
            #o1{@include overlay(cp); .texttt{@include infos;}}
            h3{left: 10px;}
        }
        #gd{
            @include bgblend(gd);
            float: right;
            #o2{@include overlay(gd); .texttt{@include infos;}}
            h3{right: 10px;}
        }
        #cp:hover, #gd:hover{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.55), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
            transform: scale(1.05);
            #o1{@include afterhover(cp);}
            #o2{@include afterhover(gd);}
        }
    }
    #imp{
        @include def_size;
        height: 401px;
        #members{
            @include def_size;
            display: flex;
            height: 361px;
            .mem{
                @include mems;
                .m1, .m2{
                    position: relative;
                    .overlay{
                        @include first;
                        .text {
                            @include second;
                            .name{
                                font: 25px os;
                                text-shadow: 2px 2px 4px #000000;
                            }
                            .pos{font: 20px helvlight;}
                            .chap{font: 12px helvlight;}
                        }
                    }
                }
                .m1 {@include fil(cp); .overlay{background-color: hsl(180, 95%, 40%);}}
                .m2 {@include fil(gd); .overlay{background-color: hsl(33, 100%, 75%);}}
                .m1:hover .overlay, .m2:hover .overlay{opacity: 1;}
                #adv{
                    background-size: cover;
                    border-radius: 2.5px;
                    width: 291px;
                    height: 291px;
                    margin: 25px;
                    position: relative;
                    .overlay{
                        @include first;
                        background-color: #003E57;
                        .text{
                            @include second;
                            #n{font: 30px os; text-shadow: 2px 2px 4px #000000;}
                            #p{font: 20px helvlight;}
                        }
                    }
                }
                #adv:hover .overlay{opacity: 1;}
            }
        }
    }
    #club{
        @include mdef;
        .about{
            @include subs;
            .imgur{
                @include im;
                display: inline-block;
            }
            #odd1 {float: right;}
            #odd2 {float: left;}
            .txt{
                @include texto;
                display: inline-block;
                h1{
                    text-align: center;
                    margin-top: 5px;
                    text-transform: uppercase;
                    font: 40px os;
                }
                p{
                    padding: 5px 15px;
                }
            }
        }
    }
    .hb{
        @include bans;
    }
    footer{
        @include def_size;
        height: 25px;
        text-align: center;
        letter-spacing: 5px;
        font: 16px helvlight;
    }
}